Repository wxh06/oier-activity-graph: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check, prettier --write

Cache fetched Luogu records
  src/sources/luogu/index.ts
Due: eslint --fix, prettier --check

Prettier ignore tsconfig.json
  .prettierignore
  tsconfig.json
Due: prettier --write

Luogu activities per day
  .idea/codeStyles/Project.xml
  package.json
  pnpm-lock.yaml
  src/sources/luogu/index.ts
Due: eslint --fix, prettier --check, prettier --write

SVG renderer
  .eslintrc.yaml
  package.json
  pnpm-lock.yaml
  src/renderers/svg.tsx
  tsconfig.json
Due: eslint --fix, prettier --check, prettier --write

Integrate the fetcher and the renderer
  src/index.ts
  src/renderers/svg.tsx
  src/sources/luogu/index.ts
Due: eslint --fix, prettier --check

Colorization
  src/renderers/svg.tsx
Due: eslint --fix, prettier --check

Abstract function `groupByWeek`
  src/index.ts
  src/renderers/svg.tsx
  src/utils.ts
Due: eslint --fix, prettier --check

snk
  .eslintignore
  .gitmodules
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/index.ts
  src/renderers/snk.ts
Due: eslint --fix, prettier --check, prettier --write

Relative activity level
  src/utils.ts
Due: eslint --fix, prettier --check

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --check: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,yml,yaml,md,graphql}
